body {
    background: #C8C5FD;
    font-family: 'Inter', sans-serif;
}

footer {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.myName {
    color: #8886FE;
}